.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:redirects, :index)
      %li.active=link_to pat(:new), url(:redirects, :new)
  .content
    %h2.title
      =pat(:new)
      =mt(:redirect)
    .inner
      -form_for :redirect, url(:redirects, :create), :class => :form do |f|
        =partial "redirects/form", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")