.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:redirects, :index)
      %li=link_to pat(:new), url(:redirects, :new)
      %li.active=link_to pat(:edit), url(:redirects, :edit, :id => @redirect.id)
  .content
    %h2.title
      =pat(:show)
      =mt(:redirect)
    .inner
      %h3
        =@redirect.title
      %p
        =link_to (@redirect.url), url(@redirect.url)
      %p
        QR Code
      %p
        =image_tag(@google_url)

-content_for :sidebar, partial("base/sidebar")