#block-text.block
  .content
    %h2.title Dashboard
    .inner
      %p.first
        This application only exists to create and log redirects for QR code applications.
        %p.hightlight
          Please don't delete old QR codes unless you know they're out of use.

-content_for :sidebar, partial("base/sidebar")